.navbar {
    background-color: dimgray !important;

}
.logo {
    height: 70%;
    width: 70%;
}
.nav-link {
    color: white  
    !important;
}
.nav-link:hover {
    color: black;
}
.btn {
    background-color: dimgray !important;
    border: none !important;
}
.dropdown-item:hover {
    background-color: gray;

}
.login:hover {
    background-color: dimgray;
}
.carousel {
    margin-top: 60px;
}
.paragraph {
    text-align: center;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 4px 4px black;
}
.paragraph1 {
    text-align: left;
    margin-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 25px;
    
}

 .projects {
     text-align: center;
    
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 4px 4px black;
}
.sub1 {
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 40px;
    
    
    
   
    text-align: center;
    text-shadow: 4px 4px black;
   
   
   
} 
.furniture1 {
    border: none;
    box-shadow: 5px 5px 5px 5px black;
    text-align: left;
    margin-top: 30px;
}
.sub2 {
    margin-top: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 4px 4px black;
    
    
    
   
    text-align: center;
   
   
   
} 
.design1 {
    border: none;
    box-shadow: 5px 5px 5px 5px black;
    text-align: left;
    margin-top: 40px;
}
.sub3 {
    margin-top: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 4px 4px black;
    
    
    
   
    text-align: center;
   
   
   
} 
.party1 {
    border: none;
    box-shadow: 5px 5px 5px 5px black;
    text-align: left;
    margin-top: 40px;
}
.footer{
    margin-top: 80px;
    background-color: #333333;
    color: white;
}
.footer-copyright{
    background-color: #316DC3;
}
.material-icons{
    color: #427900;
}
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: -60px !important;
    padding: 0;
  
  }
  #button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #button {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  /* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  } 
  .social-network a.icotwitter i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  } 
  .social-network a.icoinstagram i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  } 
  .social-network a.icoyoutube i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  } 
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  .social-network a {
    background-color: #316DC3;
    
  }


}

}

.interior1 {
    text-align: center;
   
   margin-top: 70px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bolder;
  
}
.paragraph1 {
    text-align: left;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 25px;
    
}
p.paragraph1::first-letter {
    font-size: 400%;
}
.sayings {
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 50px;
    
    
    
   
    text-align: center;
    text-shadow: 4px 4px black;

}
.sayings1 {
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
   box-shadow: 5px 5px 5px 5px black;
   font-size: 20px;
   font-style: italic;
}
.card {
    margin-top: 40px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px gray;
    
}
.card1 {
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.logopic1 {
    background-color: darkgrey;
}
.header1 {
    text-align: center;
    margin-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    font-style: bold;
    
}
h1 {
    font-size: 80px;
    text-shadow: 5px 5px black;
}
.header2 {
    text-align: left;
    margin-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
   font-size: 25px;
}
p.header2::first-letter {
    font-size: 300%;
    font-style: bold;
}
.cover {
    width: 100%;
    background-size: cover;
}
.header3 {
    margin-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
   font-size: 25px;
   text-align: center;


}
.gallery1 {
margin-top: 40px;
    border: 1px solid gray;
    box-shadow: 5px 5px dimgray;
}
.form {
  text-align: center;
  margin-top: 50px;
  border: 1px solid black;
}
.form1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}
.login2 {
  border: 1px solid black;
  margin-top: 40px;
  text-align: center;
  color: white;
  background-color: black;
  
}
.form2 {
  margin-top: 40px;
} 


